---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title='A Propos | Julien Frébet' description='A propos de Julien Frébet'>
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero title='A Propos' tagline='Découvrez mon parcours et mes compétances.'>
        <img class='avatar' width='1553' height='873' src='/assets/jufrbt-light.webp' alt='Julien Frébet' />
      </Hero>

      <section>
        <h2 class='section-title'>Background</h2>
        <div class='content'>
          <p>
            Je suis passionné par l'informatique, j'ai quitté mon dernier emploi pour une reconversion professionnelle
            dans le développement web et je suis maintenant freelance.
          </p>
          <br />
          <p>
            J'ai suivi deux formations qui m'ont demandé d'apprendre par mes propres moyens et ainsi j'ai pu obtenir un
            socle de connaissances solide tout en étant autonome sur ma montée en compétence.
          </p>
          <br />
          <p>
            Je suis en veille quotidienne pour me tenir informé des différentes évolutions technologiques des domaines
            qui me passionne, notamment l'écosystème Javascript et plus particulièrement ReactJs. Mon expérience
            professionnelle passée m'a appris à être autonome de plus je suis rigoureux dans les tâches qui me sont
            confiées et je sais m'adapter aux différentes situations que je peux rencontrer.
          </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Diplômes</h2>
        <div class='content'>
          <p>Bac +3/4 Développeur d'application React (2023)</p>
          <p>Bac +2 Développeur web (2022)</p>
          <p>Bac STI génie electronique (2010)</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Skills</h2>
        <div class='content'>
          <p>Curieux, autonome, esprit d'équipe, adaptabilité, polyvalent</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    aspect-ratio: 16/9;
    object-fit: contain;
    /* background-color: white; */
    /* border: 1px solid transparent; */
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
