---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Projets | Julien Frébet"
	description="Découvrez mes projets les plus récents pour vous faire une idée de mon expérience passée."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes projets"
				tagline="Découvrez mes projets les plus récents ci-dessous pour vous faire une idée de mon expérience passée."
				align="start"
			>
			<div class="about">
				<CallToAction href="/about/">
					A propos de moi 
					<Icon icon="arrow-right" size="1.2em" />
				</CallToAction>
			</div>
		
		</Hero>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li class="projects" >
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<script>
function animateListItems() {
  const listItems = document.querySelectorAll('.projects');
  const delay = 250; 

  listItems.forEach((item, index) => {
    const isOdd = index % 2 === 0;

    if (item instanceof HTMLElement) {
	if (isOdd) {
		item.style.animation = 'fadeInOdd 0.5s linear forwards';
		item.style.animationDelay = `${index * delay}ms`;
	} else {
		item.style.animation = 'fadeInEven 0.5s linear forwards';
		item.style.animationDelay = `${index * delay}ms`;
      }
    }
  });
}
animateListItems();
</script>


<style>
	.about{
		width: 75%;
		margin: 0 auto;
	}
	@media (min-width: 50em) {
		.about{
			position: absolute;
			top: 0;
			right: 0;
			width: fit-content;
		}
	}
	.projects {
		opacity: 0;
	}
@keyframes fadeInOdd {
  0% {
    opacity: 0;
	transform: translateX(-100%) translateY(var(--row-offset));
  }
  100% {
    opacity: 1;
	transform: translateX(0) translateY(var(--row-offset));
  }
}

@keyframes fadeInEven {
  0% {
    opacity: 0;
	transform: translateX(100%);
  }
  100% {
    opacity: 1;
	transform: translateX(0);
  }
}
</style>