---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<header class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</header>

<script>
const text = "Bonjour, je suis Julien Frébet"; // The text you want to display
const delay = 75; // Delay between each character (in milliseconds)
let index = 0;

function typeWriter() {
  if (index < text.length) {
    document.getElementsByClassName("title")[0].textContent += text.charAt(index);
    index++;
    setTimeout(typeWriter, delay);
  }
}

// Start the typewriter effect
typeWriter();


</script>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
		min-height: 2.2em;
	}

	@media (max-width: 799px) and (min-width: 644px) {
		.title {
			min-height: auto
		}
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
