---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const UILang = getLangFromUrl(Astro.url);

//voir pour utiliser les customs slugs pour rediriger directement vers les projets quand changements de langues. (pour enlever le en ou fr )
const pathName = Astro.url.pathname.split('/')[2];
// const pathName = Astro.url.pathname.split('/').slice(2).join('/');
---

<div class='lang'>
    {
        Object.entries(languages).map(([lang, label], index) => (
            <>
                <a
                    class:list={[
                        'item',
                        {
                            active: UILang === lang
                        }
                    ]}
                    href={`/${lang}/${pathName}`}>
                    <img src={`/assets/flag/${lang}.svg`} alt={`drapeau ${lang}`} />
                </a>
                {index !== 1 && <span class='slash'>/</span>}
            </>
        ))
    }
</div>

<style lang='scss'>
    .lang {
        display: flex;
        align-items: center;
        margin-left: 20px;
        color: var(--accent-dark);
        height: 100%;
        .item {
            display: flex;
            align-items: center;
            img {
                width: 25px;
                min-width: 25px;
            }
        }
        .item:hover {
            cursor: pointer;
        }

        .slash {
            margin: 0 5px;
        }
        .active {
            img {
                width: 38px;
                min-width: 38px;
            }
        }
    }
</style>
