---
import Icon from './Icon.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class='box skills'>
    <div class='stack gap-2 lg:gap-4 skill skill1'>
        <Icon icon='terminal-window' color='var(--accent-regular)' size='2.5rem' gradient />
        <h2>Front-end</h2>
        <p>{t('skills.p[1]')}</p>
    </div>
    <div class='stack gap-2 lg:gap-4 skill skill2'>
        <Icon icon='trophy' color='var(--accent-regular)' size='2.5rem' gradient />
        <h2>Responsive design</h2>
        <p>
            {t('skills.p[2]')}
        </p>
    </div>
    <div class='stack gap-2 lg:gap-4 skill skill3'>
        <Icon icon='strategy' color='var(--accent-regular)' size='2.5rem' gradient />
        <h2>Veille</h2>
        <p>
            {t('skills.p[3]')}
        </p>
    </div>
</section>

<style>
    .skill {
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .skill1 {
        animation: fadeIn 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
    }

    .skill2 {
        animation: fadeIn 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) 0.3s forwards;
    }

    .skill3 {
        animation: fadeIn 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) 0.6s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
